{% if section.settings.collection_id != blank %}
  <div class="page-width featured-collection">
    <div class="featured-collection__heading h2 center mb-10">{{ section.settings.collection_id.title }}</div>
    <div class="center">
      <a class="collection-link mb-10" href="{{section.settings.collection_id.url}}">View Collection</a>
    </div>
    <div class="flex product-card-wrapper">
      {% assign product_limit = section.settings.product_limit %}
      {% for product in section.settings.collection_id.products limit: product_limit %}
        <div class="product-card">
          {% render 'product-card', product: product %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}

<style>
  .collection-link {
    text-decoration: none;
    color: black;
  }
  .product-card-wrapper {
    overflow-x: auto;
  }
  .product-card {
    min-height: 270px;
    min-width: 180px;
    margin: 10px;
  }
  @media screen and (min-width:750px) {
    .product-card {
      height: 420px;
      width: 280px;
      margin: 10px;
    }
  }
</style>

{% schema %}
  {
    "name": "Featured collection",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "collection",
        "id": "collection_id",
        "label": "Collection"
      }, {
        "type": "range",
        "id": "product_limit",
        "min": 1,
        "max": 20,
        "step": 1,
        "label": "Product limit",
        "default": 8
      }
    ],
    "presets": [
      {
        "name": "Featured collection"
      }
    ]
  }
{% endschema %}