{% if section.settings.collection_id != blank %}
  <div class="page-width featured-collection">
    <div class="featured-collection__heading h2">Best sellers</div>

    <div class="grid grid--1-col grid--4-col-desktop">
      {% assign product_limit = section.settings.product_limit %}
      {% for product in section.settings.collection_id.products limit: product_limit %}
        <div class="product grid__item">
          {% render 'product-card', product: product %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}

<style>
  .product {
    max-width: 350px;
  }
</style>

{% schema %}
  {
    "name": "products collection",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "collection",
        "id": "collection_id",
        "label": "Collection"
      }, {
        "type": "range",
        "id": "product_limit",
        "min": 1,
        "max": 20,
        "step": 1,
        "label": "Product limit",
        "default": 8
      }
    ],
    "presets": [
      {
        "name": "products collection"
      }
    ]
  }
{% endschema %}