{% if section.settings.collection_id != blank %}
  <div class="page-width collection">
    <div class="collection__heading h2 center mb-10">{{ section.settings.collection_id.title }}</div>
    <div class="product-card-wrapper flex">
      {% assign product_limit = section.settings.product_limit %}
      {% paginate section.settings.collection_id.products by 12 %}
        {% for product in section.settings.collection_id.products limit: section.settings.product_limit %}
          <div class="product-card">
            {% render 'product-card', product: product %}
            </div>
            <div class="buy_now">add to buy</div>
          </div>
        {% endfor %}
      {% endpaginate %}
    </div>
  </div>
{% endif %}

<style>
  .product-card {
    height: 700px;
    position: relative;
  }
  .product-image {
    height: 400px;
  }
  .colors {
    height: 100px;
    position: relative;
  }
  .buy_now {
    position: relative;
  }
</style>

{% schema %}
  {
    "name": "Products Collection",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "collection",
        "id": "collection_id",
        "label": "Collection"
      }, {
        "type": "range",
        "id": "product_limit",
        "min": 4,
        "max": 12,
        "step": 1,
        "label": "Product limit",
        "default": 4
      }
    ],
    "presets": [
      {
        "name": "Products Collection"
      }
    ]
  }
{% endschema %}